{{ define "main" }}
  <main class="container mx-auto">
    <div class="markdown mb-9">
      <div>{{ .Content }}</div>
    </div>
    <ul class="my-4 *:mt-1 first:mt-0">
      {{ with .Site.Taxonomies }}
        {{ range $key, $value := . }}
          <li class="flex">
            {{ if gt (len $value) 0 }}
              {{ $translatedName := i18n ($key) }}
              {{ if $translatedName }}
                <h4 class="mr-2 text-gray-500">{{ $translatedName }}:</h4>
              {{ else }}
                <h4 class="mr-2 text-gray-500">{{ $key }}:</h4>
              {{ end }}
              <div class="flex gap-4">
                {{ range $termKey, $termValue := $value }}
                  <a
                    class="text-gray-500 border-primary/40 rounded border-2 px-1 hover:text-primary hover:border-primary"
                    href=" {{ $termValue.Page.Permalink }}"
                    >{{ $termKey }}</a
                  >
                {{ end }}
              </div>
            {{ end }}

          </li>
        {{ end }}
      {{ end }}
    </ul>
    <ul class="list-disc">
      {{ range .Pages.ByPublishDate.Reverse }}
        <li class="">
          <a href="{{ .RelPermalink }}" class="text-lg hover:text-primary/70">
            {{ .Title }}
          </a>
        </li>
      {{ end }}
    </ul>
  </main>
{{ end }}
