<header>
  <nav class="h-14 top-0 fixed z-50 w-full">
    <div
      class="bg-white/30 dark:bg-black/35 backdrop-blur-md absolute size-full"
    ></div>
    <div
      class=" h-full w-full container flex mx-auto items-center gap-4 md:justify-between justify-end text-base "
    >
      <div class="flex gap-4 z-[51]">
        {{ partial "header/localeSwitcher.html" . }}

        {{ partial "header/themModeButton.html" . }}
      </div>

      <label
        id="menu-icon-wrapper"
        class="menu-icon-wrapper peer z-50 md:hidden"
        style="visibility:visible"
        for="burger-button"
      >
        <svg width="1e3" height="1e3">
          <path
            class="path1"
            d="M3e2 4e2H7e2c2e2.0 2e2 350-1e2 450A4e2 4e2.0 012e2 2e2L8e2 8e2"
          ></path>
          <path class="path2" d="M3e2 5e2H7e2"></path>
          <path
            class="path3"
            d="M7e2 6e2H3e2c-2e2.0-2e2-4e2 1e2-450A4e2 380 0 112e2 8e2L8e2 2e2"
          ></path>
        </svg>
        <input
          id="burger-button"
          class="appearance-none menu-icon-trigger checked:bg-white/70 checked:dark:bg-black/70 checked:z-30 checked:fixed checked:top-0 checked:left-0 checked:right-0 checked:bottom-0 checked:opacity-25"
          type="checkbox"
        />
      </label>
      <div class="menu-item">
        {{ partial "header/menu.html" . }}
      </div>
    </div>
  </nav>
  {{ partial "header/hero.html" . }}


  <h1 class="text-2xl leading-3xl font-extrabold container mt-4 m-auto">
    {{ strings.FirstUpper .Title }}

  </h1>
</header>
